#regforms2
  = partial "regforms2/twitterscreen2.haml"
  .fakesidebar
    .paper
      = partial "regforms2/login2.haml"
      = partial "regforms2/register2.haml"
      = partial "regforms2/t-register2.haml"
      = partial "regforms2/profilecreate2.haml"
      = partial "regforms2/fullapp2.haml"
      = partial "regforms2/emailreceive2.haml"
      = partial "regforms2/passwordrecover2.haml"
      = partial "regforms2/usernametaken2.haml"
      = partial "regforms2/c-codeconfirm2.haml"
      = partial "regforms2/p-codeconfirm2.haml"
      = partial "regforms2/r-codeconfirm2.haml"
      = partial "regforms2/claim2.haml"
