#regforms1
  .fakesidebar
    .paper
      = partial "regforms/login1.haml"
      = partial "regforms/register1.haml"
      = partial "regforms/profilecreate1.haml"
      = partial "regforms/fullapp1.haml"
      = partial "regforms/emailreceive1.haml"
      = partial "regforms/passwordrecover1.haml"
      = partial "regforms/twitterscreen1.haml"
      = partial "regforms/usernametaken1.haml"
