#regforms1
  .fakesidebar
    .paper
      = partial "regforms1/login1.haml"
      = partial "regforms1/register1.haml"
      = partial "regforms1/profilecreate1.haml"
      = partial "regforms1/fullapp1.haml"
      = partial "regforms1/emailreceive1.haml"
      = partial "regforms1/passwordrecover1.haml"
      = partial "regforms1/twitterscreen1.haml"
      = partial "regforms1/usernametaken1.haml"
